@import '_vars.sass'
body
    width: 100%
    background: $white

    .header
        background: url('../img/header.jpg') no-repeat center center
        background-size: cover
        height: 250px
        border-bottom-left-radius: 7px
        border-bottom-right-radius: 7px
        h1 
            margin: 0
            padding-top: 70px
            text-transform: uppercase
            font-weight: 900
            color: $white
            font-size: 3em
        p
            font-size: 1.3em
            color: lighten($orange,5%)
            letter-spacing: 0.1em
    
    .container
        form 
            margin-top: 20px
            .input-field
                width: 90% !important
            .input-field label
                color: $black
            .input-field input[type=text]:focus + label
                color: $orange
            .input-field input[type=text]:focus 
                border-bottom: 1px solid $orange
                box-shadow: 0 1px 0 0 $orange
            @media(max-width:600px)
                .input-field
                    width: 85% !important
            button
                margin-top: 15px

    h3
        font-size: 1.5em
        margin-bottom: 20px
        a
            i
                font-size: 20px !important
                color: darken($grey,10%)
    
    .divider
        margin-bottom: 15px
        background: $black


    .todo-collection
        border: 0
        li
            border-left: 1px solid lighten($grey, 25%)
            border-right: 1px solid lighten($grey, 25%)
            &:first-child
                border-top: 1px solid lighten($grey, 25%)
            &:last-child
                border-bottom: 1px solid lighten($grey, 25%) !important
        .row
            margin: 0
            padding: 0
            margin-bottom: -6px
            border: 0
        .secondary-content:hover
            cursor: pointer
        .item-text
            margin: 0
            padding-top: 1px
        .unchecked-box,
        .checked-box
            color: $grey
            margin-left: 10px
        .delete-icon
            color: $grey;
    
    .done-collection
        .todo_btn
            pointer-events: none;
            cursor: default;
        .checked-box
            color: $orange
    .end-btn-container
        margin: 35px 0

        